body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.form-control{
    background-color:rgba(255, 255, 255, 0.2);
    padding: 22px;
    border: none;
    border-radius: 25px;
}
.btn{
    border-radius: 1.5rem;
    padding: 9px 20px;
}

.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}
.search-box{
    position: relative;
}
.search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}
#song-list{
    list-style-type: none;
    margin:10px;
}
.song-detail{
    /* background-image: linear-gradient(to right, rgb(20, 11, 53), rgba(255,0,0,0));
    align-content: center; */
    display: block;
    box-sizing: border-box;
    
padding:5px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: cornsilk;
}

.song-name{
    font-size:30px;
}
.song-album{
font-size: 15px;
color: rgb(114, 142, 165)
}
.lyric-button{
    font-size : 5 px;
  
    /* padding:10px; */
}